.messagesList {
  @apply w-full h-full overflow-y-scroll flex flex-col-reverse pt-[16px] pb-[30px] px-[20px] dark:bg-[#151617];
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .message {
    @apply w-full mt-[6px] flex justify-start;

    &.outgoing {
      @apply justify-end;
    }
  }
}
