.messagesList {
  @apply w-full h-full overflow-y-scroll flex flex-col-reverse pt-[16px] pb-[30px] px-[20px] dark:bg-[#151617];
  background-size: 600px;
  background-position: top right;
  background-repeat: repeat;

  .message {
    @apply w-full mt-[6px] flex justify-start;

    &.outgoing {
      @apply justify-end;
    }
  }

  .skeletonGroup {
    @apply bg-white pb-[20px] relative overflow-hidden rounded-[9px] dark:bg-[#242424] max-w-[none] md:max-w-[400px] lg:max-w-[458px] min-w-[80px];

    .skeletonImage {
      @apply inline-block;
    }

    .skeletonTitle {
      @apply w-1/2;
    }

    .skeletonText {
      @apply px-[10px];
    }
  }
}
