{
  "semi": true,
  "printWidth": 120,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "importOrder": [
    "^(react|next)",
    "<THIRD_PARTY_MODULES>",
    "^(store|http)",
    "^layouts",
    "^components/(.*)$",
    "^types",
    "^utils",
    "^(hooks|helpers|packages|utils|constants|errors)",
    "^themes",

    "^(\\.\\.?\\/)+\\w+(/\\w+)*(?!((\\.s?css)|(\\.module\\.s?css)))(\\.\\w+)*$",
    "styles/\\w+\\.s?css",
    "^(\\.\\.?\\/)+\\w+(/\\w+)*\\.((s?css)|(module\\.s?css))",
    "^assets"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
